[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/vk-bootstrap"]
	path = 3rdparty/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
